<div class="container" style="max-width: 400px; margin: auto;">
  <div class="grid">
    <form autocomplete="off" #loginForm="ngForm">
      <div class="flex justify-content-center flex-wrap">
        <div class="p-col-12 p-fluid flex align-items-center">
          <h1>Login</h1>
        </div>
        <div class="col-12 p-fluid flex align-items-center">
          <input pInputText type="email" name="usuario" placeholder="E-mail" ngModel required #usuario>
        </div>

        <div class="col-12 p-fluid flex align-items-center">
          <input pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
        </div>
        <div class="col-12 flex justify-content-center">
          <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"
            (click)="login(usuario.value, senha.value)"></button>
        </div>
      </div>
    </form>
  </div>
</div>
