<div class="container">
  <form>
    <div class="grid">
      <div class="col-12">
        <h1>Novo lançamento</h1>
      </div>
      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>
      <div class="grid p-fluid">
        <div class="grid col-6">
          <div class="col-6">
            <label>Vencimento</label>
            <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"></p-calendar>
          </div>
          <div class="col-6">
            <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
            <p-calendar dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"></p-calendar>
          </div>
        </div>
        <div class="col-9">
          <label>Descrição</label>
          <input pInputText type="text">
        </div>
        <div class="col-3">
          <label>Valor</label>
          <p-inputNumber mode="currency" currency="BRL" placeholder="0,00"></p-inputNumber>
        </div>
        <div class="col-6">
          <label>Categoria</label>
          <p-dropdown [options]="categorias" placeholder="Selecione"></p-dropdown>
        </div>
        <div class="col-6">
          <label>Pessoa</label>
          <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione"></p-dropdown>
        </div>
        <div class="col-12">
          <label>Observação</label>
          <textarea pInputTextarea rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button pButton type="button" label="Novo" class="ui-button-info"></button>
      <button pButton type="submit" label="Salvar"></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </form>
</div>
