<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="col-12 p-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>
    <div class="col-12">
      <label style="display: block;">Vencimento</label>
      <input pInputText type="text" style="width: 95px;">
      <label>até</label>
      <input pInputText type="text" style="width: 95px;">
    </div>
    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-12">
          <p-table [value]="lancamentos" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true" [rows]="2">
            <ng-template pTemplate="header">
              <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th class="col-data-header">Vencimento</th>
                <th class="col-data-header">Pagamento</th>
                <th class="col-valor-header">Valor</th>
                <th>Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lancamento>
              <tr>
                <td>{{ lancamento.pessoa }}</td>
                <td>{{ lancamento.descricao }}</td>
                <td class="col-data-content">
                  <span> {{ lancamento.dataVencimento }} </span>
                </td>
                <td class="col-data-content">
                  <span> {{ lancamento.dataPagamento }} </span>
                </td>
                <td class="col-valor-content" style="text-align: right;">
                  <span [ngStyle]="{color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">
                    {{ lancamento.valor }}
                  </span>
                </td>
                <td class="col-acoes" style="text-align: center;">
                  <button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
                  <button class="p-button-danger" pButton icon="pi pi-trash" pTooltip="Remover" tooltipPosition="top"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Novo Lançamento"></button>
      </div>
    </div>
  </div>
