<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Cadastro de pessoa</h1>
    </div>
  </div>
  <form>
    <div class="grid p-fluid">
      <div class="col-12 ">
        <label>Nome</label>
        <input pInputText type="text">
      </div>
      <div class="col-9">
        <label>Logradouro</label>
        <input pInputText type="text">
      </div>
      <div class="col-3">
        <label>Número</label>
        <input pInputText type="text">
      </div>
      <div class="col-4">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>
      <div class="col-4">
        <label>Bairro</label>
        <input pInputText type="text">
      </div>
      <div class="col-4">
        <label>CEP</label>
        <input pInputText type="text">
      </div>
      <div class="col-6">
        <label>Cidade</label>
        <input pInputText type="text">
      </div>
      <div class="col-6">
        <label>Estado</label>
        <input pInputText type="text">
      </div>
    </div>
    <div class="col-12">
      <button pButton type="button" label="Novo" class="ui-button-info"></button>
      <button pButton type="submit" label="Salvar"></button>
      <a href="javascript:;">Voltar para a pesquisa</a>
    </div>
  </form>

</div>
