<div class="container">
  <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formPessoa">
    <div class="grid p-fluid">
      <div class="col-12">
        <h1> {{ editando ? "Editar dados": "Cadastro"}} de pessoa</h1>
      </div>
      <div class="col-12 ">
        <label>Nome</label>
        <input pInputText type="text" name="nome" formControlName="nome">
        <app-message [control]="formPessoa.get('nome')" error="required" text="Informe o nome"></app-message>
      </div>
      <div class="col-9 md-12" formGroupName="endereco">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro" formControlName="logradouro">
        <app-message [control]="formPessoa.get('endereco.logradouro')" error="required" text="Informe o logradouro">
        </app-message>
      </div>
      <div class="col-3 md-12" formGroupName="endereco">
        <label>Número</label>
        <input pInputText type="text" name="numero" formControlName="numero">
        <app-message [control]="formPessoa.get('endereco.numero')" error="required" text="Informe o número"></app-message>
      </div>
      <div class="col-4" formGroupName="endereco">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" formControlName="complemento">
      </div>
      <div class="col-4" formGroupName="endereco">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro" formControlName="bairro">
        <app-message [control]="formPessoa.get('endereco.bairro')" error="required" text="Informe o bairro"></app-message>
      </div>
      <div class="col-4" formGroupName="endereco">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" name="cep" formControlName="cep" [required]="true"></p-inputMask>
        <app-message [control]="formPessoa.get('endereco.cep')" error="required" text="Informe o CEP"></app-message>
      </div>
      <div class="col-6" formGroupName="endereco">
        <label>Cidade</label>
        <input pInputText type="text" name="cidade" formControlName="cidade">
        <app-message [control]="formPessoa.get('endereco.cidade')" error="required" text="Informe a cidade"></app-message>
      </div>
      <div class="col-6" formGroupName="endereco">
        <label>Estado</label>
        <input pInputText type="text" name="estado" formControlName="estado">
        <app-message [control]="formPessoa.get('endereco.estado')" error="required" text="Informe a estado"></app-message>
      </div>
    </div>

    <div class="col-12">
      <button pButton type="button" label="Novo" class="ui-button-info" (click)="novo()"></button>
      <button pButton type="submit" label="Salvar"></button>
      <a routerLink="/pessoas">Voltar para a pesquisa</a>
    </div>
  </form>

</div>
